{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <iframe width="1600" height="1500" 
      src="https://lookerstudio.google.com/embed/reporting/f814310a-f919-415f-abf4-312839e38f51/page/kIV1C" 
      frameborder="0" 
      style="border:0" 
      allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
      </iframe>
    </div>
  </div>
</section>
{{ end }}
